p, li {
  color: blueviolet;
  font-size: 16px;
  line-height: 1;
  letter-spacing: 1px;
}

h1 {
  margin: 0;
  padding: 20px 0;
  color: slategrey;
  font-size: 50px;
  text-align: center;
  text-shadow: 3px 3px 2px black;
}

html {
  font-size: 15px;
  font-family: 'Open Sans', sans-serif;
  background-color: #e6e6fa;
}

body {
  width: 600px;
  margin: 0 auto;
  background-color: #d6e8eb;
  padding: 0 20px 20px 20px;
  border: 3px solid black;
}

img {
  display: block;
  margin: 0 auto;
}